<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <!-- <img src="/images/"> -->
    <a href="/surveys" <%- title === 'Get Started' ? 'class="active"' : '' %>>GET STARTED</a>
    <% if (user) { %>
      <a href="/recipes/"	<%- title === 'Recipes' ? 'class="active"' : '' %>>HEALTHY RECIPES</a>
      <a href="/providers/" <%- title === 'Health Providers' ? 'class="active"' : '' %>>HEALTH PROVIDERS/a>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  
  <main>
    <h1><%= title %></h1>