<%- include('../partials/header') %>

    <div style="max-width: 100vh; min-width: 50vh; min-height: 50vh;" class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4 float-center">
        <div class="col-12 lg-6">
            <img src="https://i.imgur.com/gY1YRd3.png" alt="healthy recipes" loading="lazy" width="687" height="510" class="d-block mx-lg-auto mb-4 img-fluid">
        </div>
        <div style="font-size: small;" class="d-grid g-2 d-md-flex ml-4 justify-content-md-start">
            <a href="/recipes/61f4329b477105fdc5abbdb5" class="btn btn-primary btn-dark btn-ms me-md-2">Hot Hot Recipes</a>
            <a href="/recipes/61f4329b477105fdc5abbdb5" class="btn btn-outline-secondary btn-dark btn-ms me-md-2">Something Random</a>
        </div><br><br><br>

        <div class="col-12 col-lg-6 mt-4">
            <h1 id="onestop" style="font-size: x-large; " class="display-5 fw-bold mb-4 mt-2 ml-3 mr-3 text-center">The One-Stop Destination For Healthy Recipes</h1>
            <p style="font-size: small;" class="lead ml-3">
                We use data science in every aspect of our lives these days. Like we use Spotify to "figure out" what music we like. Why not take the same approach to dieting, exercise and other health related choices.
            </p>

        </div>
    </div>


    <table id="recipe-list">
        <thead>
            <tr>
                <th>Recipe Name </th>
                <th>Description </th>
                <th>Recipe Category </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% recipes.forEach(function(r) { %>
                <tr>
                    <td>
                        <%= r.recipeName %>
                    </td>
                    <td>
                        <%= r.description %>
                    </td>
                    <div>
                        <%= r.recipeCategory %>
                    </div>
                    <td><a href="/recipes/<%= r._id %>">DETAILS</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>