<%- include('../partials/header') %>

    <section id="recipes-show-page" class="d-flex justify-content-center">
        <div class="card" style="width: 80vmin;">
            <img class="card-img-top" src="https://i.imgur.com/lTD9V7B.jpg" alt="Vegan Hambuger Img">
            <div class="card-body">
                <div class="card-text">
                    <%= recipe.title %>
                </div>
                <div class="card-text">
                    <%= recipe.email %>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-light text-muted">
                        <%= recipe.description %>
                    </li><br>
                    <li class="list-group-item bg-light text-muted">
                        <%= recipe.category %>
                    </li><br>
                </ul>
                <div class="card-body">
                    <div class="card-link">
                        <%= recipe.fullrecipe %>
                    </div>
                </div>
    </section>
    <div id="commentlayout" class="d-flex justify-content-center">
        <% if (recipe.comments.length) { %>
            <table class="table table-hover"><br><br><br>
                <thead>

                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Comments</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% recipe.comments.forEach(function(r) { %>
                        <tr>
                            <td class="comment-user"><img alt="avatarComment" src="<%= r.userAvatar %>">
                                <%= r.userName %>
                            </td>
                            <td>
                                <%= r.createdAt.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= r.text %>
                            </td>
                            <td>
                                <% if (user && user._id.equals(r.user)) { %>
                                    <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                                        <button type="submit">X</button>
                                    </form>
                                    <% } %>
                            </td>
                        </tr>
                        <% }); %>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Comments Yet</h5>
                <% } %>
    </div>

    <br><br>
    <h2 class="text-center">Add New Recipe</h2><br>
    <div class="d-flex justify-content-center">
        <a href="/recipes/new" type="submit" style="width: 50vmin; font-size: small; text-align: center;" class="btn btn-success btn-lg">Add Recipe</a>
    </div>

    <br><br>
    <h2 class="text-center mt-4">Comments</h2><br>
    <div class="d-flex justify-content-center">
        <br>
        <% if (user) { %>
            <form id="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/comments">
                <label>Comment:</label>
                <textarea name="text" style="width: 40vmin;"></textarea>
                <br>
                <input type="submit" value="Add Comment" style="width: 40vmin; font-size: small; text-align: center;" class="btn btn-success btn-lg">
            </form>
    </div>

    <% } %>



        <%- include('../partials/footer') %>