<%- include('../partials/header') %>

    <section id="recipes-show-page">
        <div>Recipe Name: </div>
        <div>
            <%= recipe.recipe %>
        </div>
        <div>Email: </div>
        <div>
            <%= recipe.email %>
        </div>
        <div>Description: </div>
        <div>
            <%= recipe.description %>
        </div>
        <div>Recipe Category: </div>
        <div>
            <%= recipe.category %>
        </div>
        <br><br>
        <img src="" alt="<%= recipe.recipe %>">
        <!-- ask Jim how to add the photos for this project-->
        <div>Recipe Text: </div>
        <div>
            <%= recipe.text %>
        </div>
    </section>

    <!-- subdocument Comments -->

    <br><br>
    <h2 id="commentsh2">Comments</h2>
    <br>
    <% if (user) { %>
        <form id="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/comments">
            <label>Comment:</label>
            <textarea name="text" style="width: 40vmin;"></textarea>
            <br>
            <input type="submit" value="Add Comment">
        </form>
        <% } %>

            <% if (recipe.comments.length) { %>
                <table class="table table-hover" id="commentlayout"><br><br><br>
                    <thead>

                        <!-- double check this count -->
                        <tr>
                            <th>User</th>
                            <th>Date</th>
                            <th>Comments</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% recipe.comments.forEach(function(r) { %>
                            <tr>
                                <td class="comment-user"><img alt="avatarComment" src="<%= r.userAvatar %>">
                                    <%= r.userName %>
                                </td>
                                <td>
                                    <%= r.createdAt.toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= r.text %>
                                </td>
                                <td>
                                    <% if (user && user._id.equals(r.user)) { %>
                                        <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                                            <button type="submit">X</button>
                                        </form>
                                        <% } %>
                                </td>
                            </tr>
                            <% }); %>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                    </tbody>
                </table>
                <% } else { %>
                    <h5>No Comments Yet</h5>
                    <% } %>

                        <%- include('../partials/footer') %>