<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto float-left" src="https://i.imgur.com/yX7IJDr.png" alt="doctor at desk">
        <div class="rightcontainer bg-white jumbotron jumbotron-fluid text-center">
            <div class="text-box container display-4 text-center">
                <form method="POST" action="/surveys/view8/<%= surveyId %>">
                    <fieldset>
                        <legend style="font-size: 1.3rem;" class="text-center form-check">What's the #1 barrier preventing you from exercising as much as you need too?
                            <legend><br>
                                <input class="form-check-input" type="checkbox" name="topbarrier" value="busy schedule"> busy schedule<br>
                                <input class="form-check-input" type="checkbox" name="topbarrier" value="injury/medical condition"> injury/medical condition<br>
                                <input class="form-check-input" type="checkbox" name="topbarrier" value="low energy"> low energy<br>
                                <input class="form-check-input" type="checkbox" name="topbarrier" value="nothing works"> nothing works<br>
                                <input class="form-check-input" type="checkbox" name="topbarrier" value="plateau"> plateau<br>
                                <input class="form-check-input" type="checkbox" name="topbarrier" value="not a challenge"> not a challenge<br>
                    </fieldset>
                    <input type="submit" style="width: 50vmin;" class="btn btn-success btn-lg float-center mt-3" value="Save And Next">
            </div>
            <div class="btn-box">
                <form action="/surveys/view7/<%= surveyId %>" method="POST">
                    <input type="submit" type="submit" style="width: 23vmin;" class="btn btn-success btn-lg float-center mr-3 mt-2" value="Back">
                </form>
                <form action="/surveys/view9/<%= surveyId %>" method="POST ">
                    <input type="submit" style="width: 23vmin;" class="btn btn-success btn-lg float-center ml-3 mt-2" value="Next">
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>