<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto float-left" src="https://i.imgur.com/U9m2mYi.png" alt="doctor sipping tea">
        <div class="rightcontainer bg-white jumbotron jumbotron-fluid text-center">
            <div class="text-box container display-4 text-center">
                <form method="POST" action="/surveys/view11/<%= surveyId %>">
                    <fieldset style="font-size: 1.3rem;" class="text-center form-check form-group">
                        <label style="font-size: 1rem;">Age:</label>
                        <select class="form-control" name="age">
                          <option value="19">19</option>
                          <option value="20">20</option>
                          <option value="21">21</option>
                          <option value="22">22</option>
                          <option value="23">23</option>
                          <option value="24">24</option>
                          <option value="25">25</option>
                          <option value="26">26</option>
                          <option value="27">27</option>
                          <option value="28">28</option>
                          <option value="29">29</option>
                          <option value="30">30</option>
                          <option value="31">31</option>
                          <option value="32">32</option>
                          <option value="33">33</option>
                          <option value="34">34</option>
                          <option value="35">35</option>
                          <option value="36">36</option>
                          <option value="37">37</option>
                          <option value="38">38</option>
                          <option value="39">39</option>
                          <option value="40">40</option>
                          <option value="41">41</option>
                          <option value="42">42</option>
                          <option value="43">43</option>
                          <option value="44">44</option>
                          <option value="45">45</option>
                          <option value="46">46</option>
                          <option value="47">47</option>
                          <option value="48">48</option>
                          <option value="49">49</option>
                          <option value="50">50</option>
                          <option value="51">51</option>
                          <option value="52">52</option>
                          <option value="53">53</option>
                          <option value="54">54</option>
                          <option value="55">55</option>
                          <option value="56">56</option>
                          <option value="57">57</option>
                          <option value="58">58</option>
                          <option value="59">59</option>
                          <option value="60">60</option>
                          <option value="61">61</option>
                          <option value="62">62</option>
                          <option value="63">63</option>
                          <option value="64">64</option>
                          <option value="65">65</option>
                          <option value="66">66</option>
                          <option value="67">67</option>
                          <option value="68">68</option>
                          <option value="69">69</option>
                          <option value="70">70</option>
                          <option value="71">71</option>
                          <option value="72">72</option>
                          <option value="73">73</option>
                          <option value="74">74</option>
                          <option value="75">75</option>
                          <option value="76">76</option>
                          <option value="77">77</option>
                          <option value="78">78</option>
                          <option value="79">79</option>
                        </select><br>
                    </fieldset>
                    <div class="pregnant form-check" name="pregnant">
                        <input class="form-check-input" type="checkbox" value="" id="yespregnant">
                        <label class="form-check-label" for="yespregnant">
                              I'm pregnant
                            </label>
                    </div>
                    <div class="pregnant form-check mt-3 mb-3" name="pregnant">
                        <input class="form-check-input" type="checkbox" value="" id="nopregnant">
                        <label class="form-check-label" for="nopregnant">
                              I'm not pregnant
                            </label>
                    </div>
                    <input type="submit" style="width: 50vmin; font-size: small;" class="btn btn-success btn-lg float-center mt-6" value="Save And Next">
                </form>
            </div>
            <div class="btn-box">
                <form action="/surveys/view10/<%= surveyId %>" method="POST">
                    <input type="submit" type="submit" style="width: 23vmin; font-size: small;" class="btn btn-success btn-lg float-center mr-3 mt-2" value="Back">
                </form>
                <form action="/surveys/view12/<%= surveyId %>" method="POST ">
                    <input type="submit" style="width: 23vmin; font-size: small;" class="btn btn-success btn-lg float-center mt-2" value="Next">
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>