<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto float-left" src="https://i.imgur.com/9P9idMf.png" alt="doctor standing with thumbs up">
        <div class="rightcontainer bg-white jumbotron jumbotron-fluid text-center">
            <div class="text-box container display-4 text-center">
                <form method="POST" action="/surveys/view3/">
                    <fieldset>
                        <legend style="font-size: 1.3rem;" class="text-center form-inline">Besides shedding unwanted pounds and muscle toning, what is the #1 priority for you?
                            <legend><br>
                                <div class="checkbox">
                                    <input type="checkbox" name="toppriority" <%=survey.toppriority?.includes( 'better sleep') && 'checked' %> value="better sleep"> better sleep<br>
                                    <input type="checkbox" name="toppriority" <%=survey.toppriority?.includes( 'fewer cravings') && 'checked' %> value="fewer cravings"> fewer cravings<br>
                                    <input type="checkbox" name="toppriority" <%=survey.toppriority?.includes( 'more energy') && 'checked' %> value="more energy"> more energy<br>
                                    <input type="checkbox" name="toppriority" <%=survey.toppriority?.includes( 'better mood') && 'checked' %> value="better mood"> better mood<br>
                                    <input type="checkbox" name="toppriority" <%=survey.toppriority?.includes( 'fit into clothes') && 'checked' %> value="fit into clothes"> fit into clothes<br>
                                    <input type="checkbox" name="toppriority" <%=survey.toppriority?.includes( 'protect health') && 'checked' %> value="protect health"> protect health<br>
                                </div>
                    </fieldset>
                    <input type="submit" style="width: 50vmin; font-size: small;" class="btn btn-success btn-lg float-center mt-3" value="Save And Next">
                </form>
            </div>
            <div class="btn-box">
                <a href="/surveys/view2" style="width: 50vmin; font-size: small;" class="btn btn-success btn-lg float-center mt-2">Back</a>
            </div>
        </div>

        <%- include('../partials/footer') %>