<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto float-left" src="https://i.imgur.com/TiVVNVP.png" alt="doctor with arms folded">
        <div class="rightcontainer bg-white jumbotron jumbotron-fluid text-center">
            <div class="text-box container display-4 text-center">
                <form method="POST" action="/surveys/view10/<%= surveyId %>">
                    <fieldset>
                        <legend style="font-size: 1.3rem;" class="text-center form-check form-group">What best describes your body shape?
                            <legend><br>
                                <label>Height:</label>
                                <select class="form-control" name="height">
                                    <option value="58">4'10"</option>
                                    <option value="59">4'11"</option>
                                    <option value="60">5'0"</option>
                                    <option value="61">5'1"</option>
                                    <option value="62">5'2"</option>
                                    <option value="63">5'3"</option>
                                    <option value="64">5'4"</option>
                                    <option value="65">5'5"</option>
                                    <option value="66">5'6"</option>
                                    <option value="67">5'7"</option>
                                    <option value="68">5'8"</option>
                                    <option value="69">5'9"</option>
                                    <option value="70">5'10"</option>
                                    <option value="71">5'11"</option>
                                    <option value="72">6'0"</option>
                                    <option value="73">6'1"</option>
                                    <option value="74">6'2"</option>
                                    <option value="75">6'3"</option>
                                    <option value="76">6'4"</option>
                                    <option value="77">6'5"</option>
                                    <option value="78">6'6"</option>
                                    <option value="79">6'7"</option>
                                    <option value="80">6'8"</option>
                                    <option value="81">6'9"</option>
                                    <option value="82">6'10"</option>
                                    <option value="83">6'11"</option>
                                    <option value="84">7'0"</option>
                                    <option value="86">7'1"</option>
                                    <option value="87">7'2"</option>
                                    <option value="88">7'3"</option>
                                    <option value="89">7'4"</option>
                                    <option value="90">7'5"</option>
                        </select><br><br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Weight:</span>
                                    </div>
                                    <input type="number" class="form-control" name="weight" value="weight in pounds"> <br><br>
                                    <div class="input-group-append">
                                        <span class="input-group-text">(lbs)</span>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Target Weight:</span>
                                    </div>
                                    <input type="number" class="form-control" name="targetweight" value="target weight"> <br><br>
                                    <!-- input formula for bmi * 18.5 for lowestWeight as the target weight-->
                                    <div class="input-group-append">
                                        <span class="input-group-text">(lbs)</span>
                                    </div>
                                </div>
                    </fieldset>
                    <input type="submit" style="width: 50vmin;" class="btn btn-success btn-lg float-center mt-3" value="Save And Next">
                </form>
            </div>
            <div class="btn-box">
                <form action="/surveys/view9/<%= surveyId %>" method="POST">
                    <input type="submit" type="submit" style="width: 23vmin;" class="btn btn-success btn-lg float-center mr-4 mt-2" value="Back">
                </form>
                <form action="/surveys/view11/<%= surveyId %>" method="POST ">
                    <input type="submit" style="width: 23vmin;" class="btn btn-success btn-lg float-center mr-0.5 mt-2" value="Next">
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>