<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto float-left" src="https://i.imgur.com/N0YkklO.png" alt="doctor with open arms">
        <div class="rightcontainer bg-white jumbotron jumbotron-fluid text-center">
            <div class="text-box container display-4 text-center">
                <form method="POST" action="/surveys/view7/<%= surveyId %>">
                    <fieldset>
                        <legend style="font-size: 1.3rem;" class="text-center form-check">Are you at risk for the following? (Continued from last screen)
                            <legend><br>
                                <input class="form-check-input" type="checkbox" name="healthrisks2" value="kidney disease"> kidney disease<br>
                                <input class="form-check-input" type="checkbox" name="healthrisks2" value="osteoarthritis"> osteoarthritis<br>
                                <input class="form-check-input" type="checkbox" name="healthrisks2" value="depression"> depression<br>
                                <input class="form-check-input" type="checkbox" name="healthrisks2" value="insomnia"> insomnia<br>
                                <input class="form-check-input" type="checkbox" name="healthrisks2" value="none"> none<br>
                                <input class="form-check-input" type="checkbox" name="healthrisks2" value="other (write below)"> other (write below)<br>
                                <div class="form-group">
                                    <textarea class="form-control float-center ml-20" style="height: 10vmin;" name="healthriskswritebelow" cols="30" rows="10"></textarea>
                                </div>
                    </fieldset>
                    <input type="submit" style="width: 50vmin;" class="btn btn-success btn-lg float-center mt-2" value="Save And Next">
                </form>
            </div>
            <div class="btn-box">
                <form action="/surveys/view6/<%= surveyId %>" method="POST">
                    <input type="submit" type="submit" style="width: 23vmin;" class="btn btn-success btn-lg float-center mr-4 mt-2" value="Back">
                </form>
                <form action="/surveys/view8/<%= surveyId %>" method="POST ">
                    <input type="submit" style="width: 23vmin;" class="btn btn-success btn-lg float-center mr-0.5 mt-2" value="Next">
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>