<%- include('../partials/header') %>

    <div class="containerview">
        <img class="containerviewphoto float-left" src="https://i.imgur.com/mq2HdXx.png" alt="doctor with suitcase">
        <div class="rightcontainer bg-white jumbotron jumbotron-fluid text-center">
            <div class="text-box container display-4 text-center">
                <form method="POST" action="/surveys/view5/<%= survey._id %>">
                    <fieldset>
                        <legend style="font-size: 1.3rem;" class="text-center form-check">People in different ages have different understandings of their hormones. What best describes you?
                            <legend><br>
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" <%= survey.hormonestatus.includes( 'not using any hormones') && 'checked' %> name="hormonestatus" value="not using any hormones"> not using any hormones<br>
                                    <input class="form-check-input" type="checkbox" <%= survey.hormonestatus.includes( 'birth control for pregnancy') && 'checked' %> name="hormonestatus" value="birth control for pregnancy"> birth control for pregnancy<br>
                                    <input class="form-check-input" type="checkbox" <%= survey.hormonestatus.includes( 'birth control for symptoms') && 'checked' %> name="hormonestatus" value="birth control for symptoms"> birth control for symptoms<br>
                                    <input class="form-check-input" type="checkbox" <%= survey.hormonestatus.includes( 'progesterone only') && 'checked' %> name="hormonestatus" value="progesterone only"> progesterone only<br>
                                    <input class="form-check-input" type="checkbox" <%= survey.hormonestatus.includes( 'I take HRT/estrogen') && 'checked' %> name="hormonestatus" value="I take HRT/estrogen"> I take HRT/estrogen<br>
                                    <input class="form-check-input" type="checkbox" <%= survey.hormonestatus.includes( 'I take TRT/testosterone') && 'checked' %> name="hormonestatus" value="I take TRT/testosterone"> I take TRT/testosterone<br>
                                </div>
                    </fieldset>
                    <input type="submit" style="width: 50vmin; font-size: small;" class="btn btn-success btn-lg float-center mt-3" value="Save And Next">
            </div>
            <div class="btn-box">
                <a href="/surveys/view4/<%= survey._id %>" class="btn btn-success btn-lg float-center mt-2" style="width: 50vmin; font-size: small;">Back</a>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>