<%- include('../partials/header') %>

    <section id="providers-show-page">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 80vmin;">
                <img class="card-img-top" src="https://i.imgur.com/vRkz31j.jpg" alt="Provider Img">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= provider.name %>
                    </h5>
                    <p class="card-text">
                        <%= provider.service %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-light text-muted">
                        <%= provider.address.street1 %>
                    </li>
                    <% if (provider.address.street2) { %>
                        <li class="list-group-item bg-light text-muted">
                            <%= provider.address.street2 %>
                        </li>
                        <% } %>
                            <li class="list-group-item bg-light text-muted">
                                <%= provider.address.city %>
                                    <%= provider.address.state %>
                                        <%= provider.address.zip %>
                            </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">
                        <%= provider.url %>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <% if (provider.reviews.length) { %>
        <table id="reviewlayout" class="table table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% let total = 0 %>
                    <% provider.reviews.forEach(function(p) { %>
                        <% total += p.rating %>
                            <tr>
                                <td class="review-user"><img alt="avatarReviews" src="<%= p.userAvatar %>">
                                    <%= p.userName %>
                                </td>
                                <td>
                                    <%= p.createdAt.toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= p.text %>
                                </td>
                                <td>
                                    <%= p.rating %>
                                </td>
                                <td>
                                    <% if (user && user._id.equals(p.user)) { %>
                                        <form action="/reviews/<%= p._id %>?_method=DELETE" method="POST">
                                            <button type="submit">X</button>
                                        </form>
                                        <% } %>
                                </td>
                            </tr>
                            <% }); %>
                                <tr>
                                    <td colspan="3"></td>
                                    <td><strong><%= (total / provider.reviews.length).toFixed(1) %></strong></td>
                                </tr>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Reviews Yet</h5>
            <% } %>



                <br><br>
                <h2 class="text-center">Add New Provider</h2><br>

                <div class="d-flex justify-content-center">
                    <a href="/providers/new" tyle="width: 50vmin; font-size: medium; text-align: center;" type="submit" class="btn btn-success btn-lg">Add New Provider</a>
                </div>

                <br><br><br>
                <h2 class="text-center">Reviews</h2><br>
                <% if (user) { %>
                    <form id="add-review-form" method="POST" action="/providers/<%= provider._id %>/reviews">
                        <label>Review:</label>
                        <textarea name="text" style="width: 40vmin;"></textarea>
                        <label>Rating:</label>
                        <select class="mt-4" name="rating" style="width: 40vmin;">
              <option value="1">1-Star 🌟</option>
              <option value="2">2-Star 🌟🌟</option>
              <option value="3">3-Star 🌟🌟🌟 </option>
              <option value="4">4-Star 🌟🌟🌟🌟</option>
              <option value="5" selected>5-Star 🌟🌟🌟🌟🌟</option>
            </select><br><br>
                        <input style="width: 40vmin; font-size: medium; text-align: center;" type="submit" value="Add Review" class="btn btn-success btn-lg float-center mt-4">
                    </form>
                    <% } %>

                        <%- include('../partials/footer') %>